<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div style=" padding-left: 300px;">
    <h1> New Alert  </h1>
    <p> Sent To :  Ahmad Ali</p>
    <p> Doctor :  Ahmad Ali</p>
    <p> Son :  Rizwan</p>
    <p> Daughter :  Amna</p>


    <h1> Previous Alerts  </h1>
    <p> Dates: </p>
    <p>1. 21 september, 2020 at 09:33 am</p>
    <p>1. 13 september, 2020 at 03:53 am</p>
    <p>1. 02 september, 2020 at 04:42 am</p>


    </div>>
        {% endblock %}
  </body>
</html>