<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor Details</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div style=" padding-left: 300px;">
    <h1> Son  </h1>
    <p> Name :  Ahmad Ali</p>
    <p> Address: AR2 Apartments Ichra Markete Lahore</p>
    <p> Phone: 03402349874</p>



    <h1> Daugher </h1>
    <p> Name :  Amna Bashir</p>
    <p> Address: AR2 Apartments Ichra Markete Lahore</p>
    <p> Phone: 03402349874</p>

    </div>>

    {% endblock %}
  </body>
</html>